aiodns==3.6.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
boolean.py==5.0
CacheControl==0.14.4
ccxt==4.5.28
certifi==2025.11.12
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
coincurve==21.0.0
coverage==7.13.0
cryptography==46.0.3
cyclonedx-python-lib==11.6.0
defusedxml==0.7.1
distlib==0.4.0
fastapi==0.124.4
filelock==3.20.1
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
identify==2.6.15
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
license-expression==30.4.4
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
msgpack==1.1.2
multidict==6.7.0
nodeenv==1.9.1
numpy==2.3.5
packageurl-python==0.17.6
packaging==25.0
pandas==2.3.3
-e git+ssh://git@github.com/rauterfrank-ui/Peak_Trade.git@645a96a9c56ad2d16cb5ca14275e3db8c1e8571b#egg=peak_trade
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.0
platformdirs==4.5.1
pluggy==1.6.0
pre_commit==4.5.1
prometheus_client==0.23.1
propcache==0.4.1
py-serializable==2.1.0
pyarrow==22.0.0
pycares==4.11.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.2.5
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
rich==14.2.0
ruff==0.14.9
six==1.17.0
sortedcontainers==2.4.0
starlette==0.50.0
toml==0.10.2
tomli==2.3.0
tomli_w==1.2.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
virtualenv==20.35.4
yarl==1.22.0
